<header class="c_header">
  <div class="c_header_inner">
    <a class="c_logo" href="./top.html">ほいくjobサーチ</a>
    <nav class="c_nav">
      <a class="c_nav_link" href="./job-search.html">求人検索</a>
      <a class="c_nav_link" href="#feature">特集</a>
      <a class="c_nav_link" href="#support">サポート</a>
      <a class="c_nav_link" href="#flow">転職の流れ</a>
    </nav>
    <div class="c_header_actions">
      <button class="p_button is_ghost" type="button">会員登録</button>
      <button class="p_button is_primary" type="button">求人を探す</button>
    </div>
  </div>
</header>
