@use './settings' as settings;

@mixin card {
  background: settings.color(card);
  border-radius: settings.radius(8);
  padding: settings.space(24);
  box-shadow: settings.$shadow-md;
  border: 1px solid settings.color(border);
}

// ** メディアクエリ設定 **
// Media Queries
$breakpoints: (
  'xs': 'screen and (min-width: 375px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;

@mixin mq($breakpoint: lg) {
  @if $breakpoint == xs {
    @media screen and (width >= 375px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media screen and (width >= 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media screen and (width >= 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media screen and (width >= 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media screen and (width >= 1280px) {
      @content;
    }
  }
}
