@use '../base/settings' as settings;
@use '../base/reset';

// コンテナ
.container {
  max-width: settings.container(default);
  margin: 0 auto;
}

.container--narrow {
  max-width: settings.container(narrow);
}
